<section class="marginFooter margen_navBar">
<div class="container">

  <!--Migas de pan-->
  <ol class="breadcrumb">
  	<li class="breadcrumb-item "><a class="colorNar normalL" [routerLink]="['inicio']">Inicio</a></li>
  	<li class="breadcrumb-item active">Politicas de Cookies</li>
  </ol>
    <h2 class="text-center colorNar">POLITICAS DE COOKIES</h2>
<hr>


<div class="col-md-3 col-sm-3 card ">
  <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
</div>



</div>
</section>
