<section class="margen_navBar marginFooter">
  <div class="container">

  <!--Migas de pan-->
  <ol class="breadcrumb">
  	<li class="breadcrumb-item "><a class="colorNar normalL" [routerLink]="['inicio']">Inicio</a></li>
  	<li class="breadcrumb-item active">Mapa Web</li>
  </ol>
    <h2 class="text-center colorNar">MAPA WEB</h2>
    <hr>


      <div class="card-block content-center">
        <ul class="list-group-flush centrar">
          <li><a [routerLink]="['inicio']">Inicio</a></li>
          <li><a [routerLink]="['servicios']">Servicios</a></li>
          <ul>
            <li><a [routerLink]="['mantenimiento']">Mantenimiento</a></li>
            <li><a [routerLink]="['seguridad']">Seguridad</a></li>
            <li><a [routerLink]="['limpieza']">Limpieza</a></li>
            <li><a [routerLink]="['']">¿QUienes somos?</a></li>
          </ul>
          <li><a [routerLink]="['sesion']">Sesion</a></li>
          <li><a [routerLink]="['contacto']">Contacto</a></li>
          <li><a [routerLink]="['MapaWeb']">Mapa Web</a></li>
          <li><a [routerLink]="['PoliticaCookies']">Politica de Cookies</a></li>
          <li><a [routerLink]="['Licencia']">Licencia</a></li>
          <li><a [routerLink]="['Ayuda']">FAQ</a></li>
          <li><a [routerLink]="['PoliticaPrivacidad']">Politica de Privacidad</a></li>
          <li><a [routerLink]="['Otros']">¿Quienes somos?</a></li>
        </ul>
    </div>

  </div>
</section>
