<div id="carouselExampleIndicators" class="carousel slide margen_navBar" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active textoSlide" style="background-image: url('assets/img/1.jpg')">
            <h1 class="animated fadeIn wobble"> El Mejor servicio</h1>
        </div>
        <div class="carousel-item textoSlide" style="background-image: url('assets/img/2.jpg')">
            <h1 class="animated fadeIn wobble"> El Mejor servicio 2</h1>
        </div>
        <div class="carousel-item textoSlide" style="background-image: url('assets/img/3.jpg')">
            <h1 class="animated fadeIn wobble"> El Mejor servicio 3</h1>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center marginCarrousel">
                <h2 class="section-heading logo">LIDERES EN</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="card col-md-3 marginCard">
                <img class="card-img-top img-fluid" src="assets/img/2.jpg" alt="car imsge cap">
                <div class="card-block">
                    <h3 class="card-title text-center">Calidad/Precio</h3>
                    <p class="card-text text-left">Nuestros servicios destacan por tener la mejor relación calidad/precio de todo el sector, impulsandonos a llegar a la cima en menos de 4 años.</p><p>Usted podrá hacer un plan a su medida con nuestras multiples configuraciones para contratar
                    un servicio a su medida y asequible.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card col-md-3 marginCard">
                <img class="card-img-top img-fluid" src="assets/img/2.jpg" alt="car imsge cap">
                <div class="card-block">
                    <h3 class="card-title text-center">Seguridad</h3>
                    <p class="card-text text-left">Nuestro parking cuentas con las ultimas innovaciones tecnologicas para que, sin importar el tiempo de la estancia de su vehículo, usted no tenga que preocuparse por la situación del mismo.</p><p>Contamos con un gran despliegue de camaras de seguridad, vigilantes 24 horas y un registro exhaustivo de entradas de personas y vehiculos</p>
                </div>
            </div>
            <div class="card col-md-3 marginCard">
                <img class="card-img-top img-fluid" src="assets/img/2.jpg" alt="car imsge cap">
                <div class="card-block">
                    <h3 class="card-title text-center">Mantenimiento</h3>
                    <p class="card-text text-left">Entre los multiples servicios extras que ofrecemos a nuestros clientes está el MANTENIMIENTO INTEGRAL del vehiculo.</p><p> Muy recomenda para estacias largas y extremadamente largas, este servicio mantendra su vehiculo a punto para su regreso, incluso con los papeles en regla gracias a nuestro taller autorizado a expedir ITVs</p>
                    <p class="card-text"><small class="text-muted">Si tiene alguna duda puede <a href="#">contactar con nosotros</a> o resolver sus dudad a traves del <a href="#">FAQ</a></small></p>
                </div>
            </div>
        </div>
    </div>
</section>
