<footer class="bg-inverse ">
  <div class="container mg-auto">
    <div class="row">
      <div class="col-md-4 col-sm-4 marginMin">
        <p>PARKNET &copy; 2017-2018. Todos los derechos reservados. Propiedad intelectual de Miguel Cobertera, Jonathan Santacruz y Diego Vazquez.</p>
      </div>

      <div class="col-md-2 col-sm-2 marginMin" >
        <ul class="listaSE">
          <li><a href="#" class="enlacesFooter" [routerLink]="['MapaWeb']">Mapa Web</a></li>
          <li class="itemFooter"><a [routerLink]="['PoliticaCookies']" class="enlacesFooter">Politica de Cookies</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2 marginMin">
        <ul class="listaSE">
          <li class="itemFooter"><a href="#" class="enlacesFooter">Licencia</a></li>
          <li class="itemFooter"><a href="#" class="enlacesFooter">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2 marginMin">
        <ul class="listaSE">
          <li class="itemFooter"><a href="#" class="enlacesFooter">Politica de Privacidad</a></li>
          <li class="itemFooter"><a href="#" class="enlacesFooter">¿Quienes somos?</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2 marginRS">
      <a  class="footIcon" href="#"><i class="fa fa-facebook-square fa-2x" href="#"></i></a>
      <a  class="footIcon" href="#"><i class="fa fa-google-plus-square fa-2x" href="#"></i></a>
      <a  class="footIcon" href="#"><i class="fa fa-twitter-square fa-2x" href="#"></i></a>
      <a  class="footIcon" href="#"><i class="fa fa-facebook-square fa-2x" href="#"></i></a>
      </div>
    </div>
  </div>
</footer>
